/* BODY SETUP */
body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQYV2NUNDD+//3zZwZCgFFCWe0/IUUg+VGFeEOJ6OABALSNEMtf80ueAAAAAElFTkSuQmCC);
}

/* STYLES FOR BUTTONS */
div {
    width: 48%;
}

button {
    width: 49%;
}

p {
    color: #4e8ca2;
    font-size: 15.5rem;
}

.start-btn {
    color: #57CE94;
    border-width: 3px;
    border-color: #2b5648;
    transition: 0.3s ease background-color;
}

.start-btn:hover {
    border: none;
    color: black;
    background-color: #57CE94;
}

.reset-btn {
    opacity: 0.2;
    color: #5BA6C1;
}


/* CLASSES TO BE ADDED WHEN CLICKING ON BUTTON VIA JS */
.resetBtnActivity {
    /* opacity-30 hover:bg-red-700 hover:text-slate-800 */
    opacity: 0.5;
    color: #5BA6C1;
    transition: 0.3s ease background-color;
}


.resetBtnActivity:hover {
    /* opacity-30 hover:bg-red-700 hover:text-slate-800 */
    opacity: 1;
    color: black;
    background-color: rgb(255, 86, 86);
}

.stopBtn {
    color: #5BA6C1;
    border-color: #2e4e58;
    transition: 0.3s ease background-color;
}

.stopBtn:hover {
    color: black;
    background-color: #5BA6C1;
}

/* FOOTER SECTION*/
footer {
    margin-top: 20vh;
}

#footer-text {
    opacity: 0.5;
    font-size: 16px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

hr {
    width: 70%;
    border-top: 1px dotted rgba(255, 255, 255, 0.141);
}


/* RESPOSIVE BREAKPOINT DESIGNS */
@media only screen and (max-width: 1533px) {
    /* For tablets: */
    p {
        font-size: 13rem;   
    }
}

@media only screen and (max-width: 1286px) {
    /* For tablets: */
    p {
        font-size: 10rem;   
    }
}

@media only screen and (max-width: 1016px) {
    /* For tablets: */
    p {
        font-size: 8rem;   
    }
}

@media only screen and (max-width: 794px) {
    /* For tablets: */
    p {
        font-size: 3.5rem;   
    }

    hr {
        width: 50%;
    }

    #footer-text {
        font-size: 12px;
    }

    #responsive-btn {
        width: 100%;
        height: 21vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}